## Athena Dataset Pricing Analysis

In [7]:
import pandas as pd

In [11]:
df = pd.read_csv('athina_dataset.csv')
df.drop_duplicates()
df.head()

,id,inference_id,language_model_id,prompt_tokens,completion_tokens,total_tokens,model_options,cost
0,1,271de051-0833-49de-88fd-9f6487c9f47e,Qwen/Qwen2.5-Coder-32B-Instruct,22,356,378,"{""model_options_schema_version"":1}",NaN
1,2,a6fbdaa3-01f3-4736-a5c0-be4f7d7a8511,Qwen/Qwen2.5-Coder-32B-Instruct,15,61,76,"{""model_options_schema_version"":1}",NaN
2,3,55801018-dea5-4c73-99b2-2d2dfee76bb7,gemini-1.5-pro,91,22,113,"{""model_options_schema_version"":1}","""0.00022375"""
3,4,05ef3d66-aab1-47d7-a8e2-579d4b492b3a,gemini-1.5-pro,94,2,96,"{""model_options_schema_version"":1}","""0.0001275"""
4,5,37d11780-d4cb-4051-bdb0-f1d49603f302,gemini-1.5-pro,94,2,96,"{""model_options_schema_version"":1}","""0.0001275"""

In [ ]:
df['cost'] = pd.to_numeric(df['cost'].str.replace('"', ''), errors='coerce')

In [13]:
df['cost_per_token'] = df['cost'] / df['total_tokens']

In [15]:
pricing_summary = df.groupby('language_model_id').agg(
    total_cost=('cost', 'sum'),
    prompt_tokens=('prompt_tokens','sum'),
    response_tokens=('completion_tokens', 'sum'),
    total_tokens=('total_tokens', 'sum'),
    avg_cost_per_token=('cost_per_token', 'mean'),
    inference_count=('id', 'count')
).reset_index()

print(pricing_summary)

                 language_model_id  total_cost  prompt_tokens  \
0  Qwen/Qwen2.5-Coder-32B-Instruct    0.000000         248852
1                   gemini-1.5-pro    0.248065         191892
2                      gpt-4o-mini    0.034840         224554
3                    grok-2-latest    0.000000          91284

   response_tokens  total_tokens  avg_cost_per_token  inference_count
0             3660        252512                 NaN               34
1             1640        193532        1.530083e-06               34
2             1929        226483        1.620577e-07               24
3              728         92012                 NaN                8